@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.leter-sub {
    max-width: 800px !important;
    height: 150px;
    margin-top: 10vh;
    border: 1px solid rgba(128, 128, 128, 0.363);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leter-subh1 {
    font-family: "Playfair Display", serif;
    font-size: clamp(25px, 4.5vw, 50px);
    font-weight: 400;
    padding-bottom: 5px;
    color: #767E86;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leter-sub2 {
    display: flex;
}

.leter-subf {
    display: grid;
    grid-template-columns: 3fr 3fr;
    gap: 0px;
}

.subcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leter-input {
    border: none;
    background-color: #FFE8D4;
    color: #FF7757;
}

.leter-ep {
    color: #767E86;
    padding-bottom: 10px;
}

.subscribe {
    border: none;
    background-color: #FF7757;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
}

input::placeholder,
textarea::placeholder {
    color: #FF7757;
}

.leter-ebtn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leter-input {
    padding: 10px 5px;
}

.letter-email {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-main {
    background-color: #172432;
}

.footer-icon {
    display: flex;
    gap: 20px;
}

.ficon {
    color: white;
    font-size: clamp(20px, 5rem, 25px);
    margin-top: 10px;
    cursor: pointer;
}

.footer-maininner {
    padding-top: 150px;
    padding-bottom: 50px;
}

.footer-title {
    font-weight: 500;
    color: white;
    font-size: clamp(16px, 1.25vw, 24px);
}

.footer-p {
    font-weight: 300;
    color: white;
    padding-top: 10px;
}
.footer-p{
    text-decoration: none;
}
.foota{
    text-decoration: none;
}
@media (max-width:768px) {
    .leter-sub {
        transform: translate(0px, 0px);
    }

    .footer-sub {
        padding-top: 40px;
    }
}

@media (max-width:1920px) {
    .leter-sub {
        transform: translate(0px, 70px);
        background-color: white;
    }
}