@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

@media (max-width:1920px) {
  .herobgimg {
    top: -975px !important;
    height: 1725px !important;
  }
}

.herobgimg {
  background-image: url("../assets/Herobgimg.jpg");
  width: 100%;
  height: 1595px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: start;
  position: absolute;
  top: -795px;
  z-index: 2;
}



@media (max-width:768px) {
  .herobgimg {
    top: -800px;
    height: 1900px;
  }
}

@media (max-width:426px) {
  .herobgimg {
    top: -700px;
    height: 1700px !important;
  }
}

.herobold {
  color: white;
  transform: translateY(1150px);
  font-family: "Playfair Display", serif;
  font-size: clamp(32px, 4.5vw, 74px);
  font-weight: 400;
}

.hero-para {
  font-family: "Rubik", sans-serif;
  color: white;
  transform: translateY(1150px);
}

.carosil1 {
  height: 10px;
  width: 10px;
  margin-left: clamp(20px, 21.875vw, 420px);
  position: relative;
  top: 1200px;

}

.carosil2 {
  height: 10px;
  width: 10px;
  margin-left: clamp(20px, 21.875vw, 420px);
  position: relative;
  top: 1207px;
}

.carosil3 {
  height: 10px;
  width: 10px;
  margin-left: clamp(20px, 21.875vw, 420px);
  position: relative;
  top: 1214px;
}

.carosil4 {
  height: 10px;
  width: 10px;
  margin-left: clamp(20px, 21.875vw, 420px);
  position: relative;
  top: 1221px;
}

.carosil5 {
  height: 10px;
  width: 10px;
  margin-left: clamp(20px, 21.875vw, 420px);
  position: relative;
  top: 1228px;
}

.carosil {
  display: inline-block;
}

@media (max-width:767px) {
  .carosil {
    display: none !important;
  }

}

.herobook {
  background-color: #FF7757;
  height: 150px;
  transform: translateX(-12px);
}

.hero-data1 {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}

.data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  /* width: 1000px; */
  background-color: white;
  transform: translate(0px, 1225px);
  display: flex;
  justify-content: space-around;
  padding: 50px 40px;
}

.info-details2 {
  transform: translate(-20px, 1225px);
}

.info-btn {
  padding: 63px 20px;
  background-color: #FF7757;
  border: none;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  gap: 10px;
}

.iinfo {
  display: flex;
  gap: 10px;
}

.info-details {
  display: flex;
}



@media(max-width:982px) {
  .info {
    padding: 10px 0px;
    width: 400px !important;
    border-radius: 0px;
  }

  .details {
    padding: 10px 10px;
  }

  .info-details {
    display: inline-block;
  }
  .info-btn{
    padding: 130px 50px;
  }
  .info-btn-p{
    color: white;
  }
  .iinfo {
    display: inline;
  }
}

@media (max-width:376px) {
  .info {
    width: 325px !important;
  }
}

@media (max-width:486px) {
  .info-details2 {
    display: none;
  }
}

@media(max-width:320px) {
  .info {
    width: 300px !important;
  }

}

.fo-btn-p {
  width: 50%;
}

input,
select {
  border: none;
  border-bottom: 1px solid black;
  padding-left: 10px;
}

input:active {
  border: none;
  border-bottom: 1px solid black;
}

.info-main {
  display: flex;
}

.long-icon {
  color: white;
  padding-top: 13px;
}

@media(max-width:480px) {
  .info-main {
    display: inline-block;
  }

  .info {
    padding: 0px 0px;

  }
}