  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

  .slider-btns {
      display: flex;
      gap: 30px;
  }

  .left,
  .right {
      height: 35px;
      width: 35px;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }

  .left {
      background-color: #172432;
  }

  .right {
      background-color: #FF7757;
  }

  .leftimg,
  .rightimg {
      height: 10px;
      width: 5px;
  }


  .offer {
      display: flex;
      justify-content: space-between;
      align-items: end;
  }

  .offer-container {
      margin-top: clamp(30px,10rem,75px);
  }

  .slider-heading {
      font-family: "Playfair Display", serif;
      font-size: clamp(25px, 4.5vw, 45px);
      font-weight: 400;
      padding-bottom: 10px;
  }

  .heading-border {
      width: 50%;
      border-bottom: 3px solid #FF7757;
  }

  .offer-h4 {
      font-family: "Mulish", sans-serif;
      font-weight: 400;
      font-size: clamp(16px, 1.46vw, 24px);
      color: #767E86;
  }

  .offer-p {
      color: #767E86;
      padding-top: 15px;
  }


  .slider-wrapper {
      overflow: hidden;
      margin-top: 50px;
  }

  .slider-track {
      display: flex;
      gap: 20px;
      transition: transform 0.5s ease-in-out;
  }

  .slider-card {
      min-width: 360px;
      background-color: #FFF8F1;
      border-radius: 12px;
      overflow: hidden;
  }

  .slider-card img {
      width: 100%;
      height: 240px;
      object-fit: cover;
  }


  @media (max-width: 991px) {
      .slider-card {
          min-width: 320px;
      }
  }

  @media (max-width: 768px) {
     

      .slider-topic {
          display: flex;
          justify-content: end;
      }
  }

  @media (max-width: 576px) {
      .slider-card {
          min-width: 300px;
      }
  }

  .offer-para {
     font-family: "Rubik", sans-serif;
     color: #767E86;
     font-size: clamp(10px,2rem,15px);
  }
  .oicon{
    color: #FFC107;
  }
  .offer-cont{
    padding: 20px 15px;
  }
  .oicon-d{
    padding-top: 5px ;
    padding-bottom: 15px;
  }
  .rate-details{
    display: flex;
    justify-content: space-between;
  }
  .rate{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-detail{
    background-color: #FF7654;
    color: white;
    padding: 10px 15px;
    border-radius: 12px;
  }
  .rate-details{
    padding-top: 10px;
  }
  .offer-span{
    font-size: 25px;
    font-weight: 400;
    color: #FF7757;
  }